$primaryColor: #0480b1;
$secondaryColor: #111118;
$altColor: #a8a8b2;
$fontColor: #f6f6f6;
$accentColor: #fdd831;

$defaultFont: 'Raleway', sans-serif;;
$normalWeight: 300;
$boldWeight: 500;

$maxWidth: 75rem;
$gutter: .5rem;
$gutterdbl: (2 * $gutter);
